{% extends "base.html" %}
{% block title %}Logs{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <div class="card text-center">
                    <div class="card-header"><a href="select_title?imdbID={{ results["imdbID"] }}&job_id={{ job_id }}"><img src="{{ results["Poster"] }}" width="240px" class="img-thumbnail" alt="Poster Image"></a></div>
                    <div class="card-body"><strong>{{  results["Title"]  }}</strong> - {{ results["Type"].capitalize() }} ({{ results["Year"] }})</div>
                    <div class="card-body"><strong>Full Plot:</strong> {{ results["Plot"] }}</div>
                    <div class="card-footer">
						<a href="titlesearch?job_id={{ job_id }}" class="btn btn-primary">New Search</a>   
                        <a href="{{ url_for('route_jobs.updatetitle',
                                            title=results['Title'],
                                            year=results['Year'],
                                            imdbID=results['imdbID'],
                                            type=results['Type'],
                                            poster=results['Poster'],
                                            job_id=job_id) }}" class="btn btn-primary">Update Title</a>
                    </div>
                </div>
            </div>
        <div class="col-sm-3"></div>     
    </div>
</div>



{% endblock %}