.vscode/settings.json
arm.conf.yaml
logs/*
*.log
test.sh
archive/
config
temp/
test.py
*.sh~
Branch_Scope_Sanatization.txt
__pycache*
removed/*
arm.conf
*.pyc
.gitignore
arm.yaml

# PEP 582 
__pypackages__

# JetBrains tools
.idea/

