[LOGGING]

# Format style used to check logging format string. `old` means using %
# formatting, while `new` is for `{}` formatting.
logging-format-style=new

disable=broad-except,
        logging-fstring-interpolation


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
		
[TYPECHECK]
generated-members=app.logger
ignored-classes=scoped_session
