# ARM (Automatic Ripping Machine) oonfig file

#################
## ARM Options ##
#################

# Distinguish UDF video discs from UDF data discs.  Requires mounting disc so adds a few seconds to the identify script.
ARM_CHECK_UDF=true

# When enabled if the disc is a DVD use dvdid to calculate a crc64 and query Windows Media Meta Services for the Movie Title.
# For BluRays attempts to extract the title from an XML file on the disc
GET_VIDEO_TITLE=true

#####################
## Directory setup ##
#####################

#Base directory of ARM media directory
#Ripped and transcoded files end up here
ARMPATH="/mnt/media/ARM/"

#Path to raw MakeMKV directory
#Destination for MakeMKV and source for HandBrake
RAWPATH="/mnt/media/ARM/raw/"

#Path to final media directory
#Destination for final file.  Only used for movies that are positively identified
MEDIA_DIR="/mnt/media/ARM/emby/movies/"

#Path to directory to hold log files
#Make sure to include trailing /
LOGPATH="/opt/arm/logs/"

#How long to let log files live before deleting (in days)
LOGLIFE=1

########################
## MakeMKV Parameters ##
########################

#Minimum length of track for MakeMKV rip (in seconds)
MINLENGTH="600"

#Method of MakeMKV to use for Blu Ray discs.  Options are "mkv" or "backup".
#mkv is the normal method of ripping mkv files directly from the DVD
#backup decrypts the dvd and then copies it to the hard drive.  This allows HandBrake to apply some of it's
#analytical abilities such as the main-feature identification.  This method seems to offer success on bluray 
#discs that fail in "mkv" mode. *** NOTE: MakeMKV only supports the backup method on BluRay discs.  Regular
#DVD's will always default back to the "mkv" mode. 
RIPMETHOD="backup" 

##########################
## HandBrake Parameters ##
##########################

# Handbrake preset profile
# See https://trac.handbrake.fr/wiki/BuiltInPresets
HB_PRESET="High Profile" 

#Extension of the final video file
DEST_EXT=mkv

#Handbrake binary to call
HANDBRAKE_CLI=HandBrakeCLI

#Have HandBrake transcode the main feature only.  BluRay discs must have RIPMETHOD="backup" for this to work.
#If MAINFEATURE is true, blurays will be backed up to the HD and then HandBrake will go to work on the backed up
#files.  For normal DVDs, ARM will by pass MakeMKV and be accessed directly by HandBrake.  This will require 
#libdvdcss2 be installed.
#NOTE: For the most part, HandBrake correctly identifies the main feature on movie DVD's, although it is not perfect. 
#However, it does not handle tv shows well at all.  You will likely want this value to be false when ripping tv shows.
#MAINFEATURE=false
MAINFEATURE=false

#############################
## Notification Parameters ##
#############################

#Pushbullet API Key
#Leave empty or comment out to disable Pushbullet notifications
PB_KEY=""

#IFTTT API KEY
#Leave empty or comment out to disable IFTTT notifications
#IFTTT_KEY=""

#IFTTT Event Name
IFTTT_EVENT="arm_event"

#Determine logfile name
#use the label of the DVD/CD or else use empty.log
#this is required for udev events where there is no media available
#such as ejecting the drive
if [ -z "$ID_FS_LABEL" ]; then
        LOGFILE="empty.log"
else
        LOGFILE=${ID_FS_LABEL}".log"
fi

#Set full logfile path
LOG=$LOGPATH$LOGFILE

