pycurl>=7.43.0
pydvdid>=1.0
requests>=2.9.1
urllib3>=1.13.1
xmltodict>=0.10.2
pushbullet.py>=0.11.0
pyfttt>=0.3.2
python-pushover>=0.3
pyudev>=0.21.0
pyyaml>=3.12
flake8>=2.5.0
robobrowser>=0.5.3
tinydownload>=0.1.0
musicbrainzngs==0.6
discid==1.1.1
