alembic==1.4.3
apprise==0.9.9
bcrypt==3.2.2 # Newer versions dont have Wheel
beautifulsoup4==4.11.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.1 # broken
discid==1.2.0
Flask==2.0.3 # broken
Flask-Cors==3.0.10
Flask-Login==0.5.0 # broken
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.3
idna==3.4
itsdangerous==2.0.1 # broken
Jinja2==3.0.3 # broken
Mako==1.1.6 # broken
Markdown==3.3.4
MarkupSafe==2.0.1 # broken
musicbrainzngs==0.7.1
netifaces==0.11.0
oauthlib==3.2.2
prettytable==2.5.0 # broken
psutil==5.9.2
pycparser==2.21
pycurl==7.45.1
pydvdid==1.1
pydvdid-m==1.1.1
pyudev==0.23.2
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
robobrowser==0.5.3
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
tinydownload==0.1.0
urllib3==1.26.15
wcwidth==0.2.5
Werkzeug==2.0.3 # broken
WTForms==3.0.0 # broken
xmltodict==0.13.0
