{% extends "base.html" %}
{% block title %}Logs{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}  

<div class="container">
    <div class="h-100 row align-center">
        <div class="col-sm-2"></div>
            <div class="col-sm-8  rounded bg-secondary">
                <p class="text-center"><b>Nothing to see yet.<br>Stay tuned....</b></p>
            </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}
{% block js %}{{ super() }}{% endblock %}