{% macro render_field(field) %}
<div class="input-group mb-3">
    <div class="input-group-prepend">
        {{ field.label(class_="input-group-text")}}
    </div>
    <div class="input-group-append flex-grow-1">
        {{ field(class_=(field.render_kw.get('class', '') + (' is-invalid' if field.errors else ''))) | safe }}
        {% if field.errors %}
        <div class="invalid-feedback">
        {% for error in field.errors %}
            <div class="alert-warning">{{ error }}</div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <button class="btn border-0 popovers p-0 rounded-0" onClick='return false;' href=""
        data-content=" {{ field.render_kw.get('title', '') if field.render_kw else 'No help found' }} "
        rel="popover"
        data-placement="top" data-original-title="{{ field.name }}">
         <img class="image-fluid border-0" title="More information" src="{{ url_for('static', filename='img/info.png') }}" width="30px" height="35px" alt="More info">
    </button>
</div>
{% endmacro %}