
{% block drives %}
    <div class="container content">
        <div class="row">
            <div class="col pt-3">
                <div class="card mx-auto">
                    <div class="card-header text-center">
                        <strong>Disk Drives</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if drives %}
                            {% for drive in drives %}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <form id="systemForm" name="systemForm" action="/systeminfo" method="post">
                                                    {% if form_drive %}
                                                        <!-- Drives form defined, editing available -->
                                                        {{ form_drive.hidden_tag() }}
                                                    {% endif %}
                                                    <div class="form-group row my-0">
                                                        <label for="driveName" class="col-sm-3 col-form-label px-1">Name</label>
                                                        {% if form_drive %}
                                                            <!-- Drives form defined, editing available -->
                                                            <input class="col-sm-6 form-control form-control-sm px-1" type="text" id="name" name="name" value="{{ drive.name }}">
                                                        {% else %}
                                                            <!-- Drives form not defined, no editing available -->
                                                            <label class="col-sm col-form-label px-1">{{ drive.name }}</label>
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label px-1">Type</label>
                                                        <label class="col-sm col-form-label px-1">{{ drive.type }}</label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label px-1 px-1">Mount Path</label>
                                                        <label class="col-sm col-form-label px-1 small">{{ drive.mount }}</label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label px-1">Current Job</label>
                                                        {% if drive.job_id_current %}
                                                        <label class="col-sm col-form-label px-1"><a href="/jobdetail?job_id={{ drive.job_id_current }}">{{ drive.job_current.video_type }} - {{ drive.job_current.title }} - {{ drive.job_current.year }} </a></label>
                                                        {% else %}
                                                            <label class="col-sm col-form-label px-1">No current job</label>
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label px-1 px-1">Previous Job</label>
                                                        {% if drive.job_id_previous %}
                                                            <label class="col-sm col-form-label px-1"><a href="/jobdetail?job_id={{ drive.job_id_previous }}">{{ drive.job_previous.video_type }} - {{ drive.job_previous.title }} - {{ drive.job_previous.year }} </a></label>
                                                        {% else %}
                                                            <label class="col-sm col-form-label px-1">N/A</label>
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label for="driveDescription" class="col-sm-3 col-form-label px-1">Description</label>
                                                        {% if form_drive %}
                                                            <!-- Drives form defined, editing available -->
                                                            <input class="col-sm-6 form-control form-control-sm px-1" type="text" id="description" name="description" value="{{ drive.description }}">
                                                            <input type="hidden" id="id" name="id" value="{{ drive.drive_id }}">
                                                        {% else %}
                                                            <!-- Drives form not defined, no editing available -->
                                                            <input class="form-control form-control-sm px-1" type="text" id="description" name="description" value="{{ drive.description }}" readonly>
                                                            <input type="hidden" id="id" name="id" value="{{ drive.drive_id }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <div class="col">
                                                            <div class="float-right">
                                                                {% if form_drive %}
                                                                    <!-- Drives form defined, editing available -->
                                                                    <button type="submit" class="btn btn-primary btn-sm" name="submit">Update</button>
                                                                    <a href="drive/remove/{{ drive.drive_id }}" class="btn btn-outline-danger btn-sm">Remove</a>
                                                                {% else %}
                                                                    <!-- Drives form not defined, no editing available -->
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-2 d-flex">
                                                <div class="row">
                                                    {% if drive.open %}
                                                        <a href="drive/eject/{{ drive.drive_id }}">
                                                            <img src="static/img/drive-optical_open.svg" class="p-flex align-items-center" style="max-width:100px; min-width:50px" alt="Drive Open">
                                                        </a>
                                                    {% else %}
                                                        <a href="drive/eject/{{ drive.drive_id }}">
                                                            <img src="static/img/drive-optical_closed.svg" class="p-flex align-items-center" style="max-width:100px; min-width:50px" alt="Drive Closed">
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No drives installed on this system.
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <a href="systemdrivescan">Scan for Drives</a>
                    </li>
                    </ul>
                    <i><u>Note:</u> Ripping does not require drives to be listed in the UI here. However, if a drive does not show up, there may be an issue with the docker container settings.</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
