{% block help %}
    <div class="tab-pane pt-5" id="help" role="tabpanel" aria-labelledby="help-tab">
        <div class="card">
            <div class="card-header">Get help</div>
            <div class="card-body no-gutters">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="stretched-link text-center" target="_blank" rel="noopener" href="https://github.com/automatic-ripping-machine/automatic-ripping-machine">
                            <img class="rounded mx-auto d-block mt-2" alt="GitHub" src="{{ url_for('static', filename='img/github/GitHub-Mark-120px-plus.png') }}">
                            <label> Github </label>
                        </a>
                    </div>
                    <div class="col-lg-4 rounded">
                        <a target="_blank" rel="noopener" class="stretched-link text-center" href="https://discord.gg/FUSrn8jUcR">
                            <img class="rounded mx-auto d-block mt-2" src="{{ url_for('static', filename='img/discord/discord-128.png') }}" alt="Discord">
                            <label>Discord</label>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a class="stretched-link text-center" target="_blank" rel="noopener" href="https://github.com/automatic-ripping-machine/automatic-ripping-machine/wiki">
                            <img class="rounded mx-auto d-block mt-2" src="{{ url_for('static', filename='img/github/GitHub-Mark-120px-plus.png') }}" alt="A.R.M Wiki - Help">
                            <label>A.R.M Wiki</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
