{% block ripper %}
    <div class="tab-pane pt-5" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h4> Ripper ARM Settings </h4>
        <form id="ripperSettings" name="ripperSettings" method="post" action="">
            {{ form.hidden_tag() }}
            {% from "settings/_form_field.html" import render_field %}
            {% for field in form %}
                {% if field.name != 'submit' %}
                    {% if field.name != 'csrf_token' %}
                    {{ render_field(field) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button id="settings" class="btn btn-secondary btn-lg btn-block" form="ripperSettings"
                    type="submit">Submit
            </button>
        </form>
    </div>
{% endblock %}
