{% block ui %}
    <div class="tab-pane pt-5" id="uiSettingsTab" role="tabpanel" aria-labelledby="uiSettings-tab">
        <h4> UI Notification Settings </h4>
        <form id="uiSettings" name="uiSettings" action="">
            {{ form.hidden_tag() }}
            {% from "settings/_form_field.html" import render_field %}
            {% for field in ui_settings %}
                {% if field.name != 'submit' %}
                    {% if field.name != 'csrf_token' %}
                    {{ render_field(field) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button id="uiSubmit" class="btn btn-secondary btn-lg btn-block" form="uiSettings"
                    type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
