{% block ui %}
    <div class="tab-pane pt-5" id="uiSettingsTab" role="tabpanel" aria-labelledby="uiSettings-tab">
        <h4> UI Notification Settings </h4>
        <form id="uiSettings" name="uiSettings" action="">
            {{ form.hidden_tag() }}
            {% from "settings/_form_field.html" import render_field %}
            {{ render_field(ui_settings.index_refresh) }}
            {{ render_field(ui_settings.use_icons) }}
            {{ render_field(ui_settings.save_remote_images) }}
            {{ render_field(ui_settings.bootstrap_skin) }}
            {{ render_field(ui_settings.language) }}
            {{ render_field(ui_settings.database_limit) }}
            {{ render_field(ui_settings.notify_refresh) }}
            <button id="uiSubmit" class="btn btn-secondary btn-lg btn-block" form="uiSettings"
                    type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
