{% block abcde %}
    <div class="tab-pane pt-5" id="abcde" role="tabpanel" aria-labelledby="abcde-tab">
        <h4> Music Config </h4>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form id="abcdeSettings" name="abcdeSettings" method="post" action="">
                    {{ form.hidden_tag() }}
                    <label for="abcdeConfigText">ABCDE Config:</label>
                    <textarea id="abcdeConfigText" name="abcdeConfig" spellcheck="false"
                              class="w-100 form-control min-vh-100">{{ abcde_cfg }}</textarea>
                    <br>
                    <button id="abcdeConfigSubmit" class="btn btn-secondary btn-lg btn-block"
                            form="abcdeSettings">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
