
{% block drives %}
    <div class="container content">
        <div class="row">
            <div class="col pt-3">
                <div class="card mx-auto">
                    <div class="card-header text-center">
                        <strong>Disk Drives</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if drives: %}
                            {% for drive in drives: %}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <form id="systemForm" name="systemForm" action="/systeminfo" method="post">
                                                    {% if formDrive: %}
                                                        {{ formDrive.hidden_tag() }}
                                                    {% endif %}
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label">Name</label>
                                                        <label class="col-sm col-form-label">{{ drive.name }}</label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label">Mount Path</label>
                                                        <label class="col-sm col-form-label">{{ drive.mount }}</label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label">Current Job</label>
                                                        <label class="col-sm col-form-label"><a href="/jobdetail?job_id={{ drive.job_id }}"> {{ drive.job_id }} </a></label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label class="col-sm-3 col-form-label">Previous Job</label>
                                                        <label class="col-sm col-form-label"><a href="/jobdetail?job_id={{ drive.job_id_previous }}">{{ drive.job_id_previous }} </a></label>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <label for="driveDescription" class="col-sm-3 col-form-label">Description</label>
                                                        <div class="col-sm">
                                                            <input class="form-control form-control-sm" type="text" id="description" name="description" value="{{ drive.description }}">
                                                            <input type="hidden" id="id" name="id" value="{{ drive.drive_id }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row my-0">
                                                        <div class="col">
                                                            <div class="float-right">
                                                                <button type="submit" class="btn btn-primary btn-sm" name="submit">Update</button>
                                                                <button type="submit" class="btn btn-outline-danger btn-sm" name="remove">Remove</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-2 d-flex">
                                                {% if drive.open: %}
                                                    <img src="static/img/drive-optical_open.svg" class="p-flex align-items-center" style="max-width:100px; min-width:50px" alt="Drive Open">
                                                {% else %}
                                                    <img src="static/img/drive-optical_closed.svg" class="p-flex align-items-center" style="max-width:100px; min-width:50px" alt="Drive Closed">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No drives installed on this system.
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
