<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{% block title %}{% endblock %} - ARM</title>
    {%  block head_extra %}{% endblock %}
    {% endblock %}
  </head>
  <body style="padding-top: 70px; padding-bottom: 50;padding-left: 15px;padding-right: 15px;">
    {% block nav %}
    <div class="container h-100 mx-auto">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-center fixed-top my-auto">
        <a class="navbar-brand" href="index.html">
            <img src="/static/img/arm40nw.png" width="114" height="40" alt="">
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="history">History</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="listlogs">View Logs</a>
              </li>
			  <li class="nav-item active">
                <a class="nav-link" href="database">Database</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="settings"> Arm Settings</a>
              </li>
            </ul>
          </div>
      </nav>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}
    <div id="content" class="h-100" style="width: 99%;padding-top: 51px;padding-left: 15px;">{% block content %}{% endblock %}</div>
    <div id="footer" class="container-fluid h-100">
        <div class="row" style="height: 30px;"></div>
        <div class="row h-100" style="height: 40px;">
            <!-- <div class="col-sm-4"></div> -->
              <div class="col-sm-12 h-100">
                  {% block footer %}
                  <p class="text-center h-100" style="margin-bottom: auto; margin-top: auto"> Automatic Ripping Machine.  Find us on <a href="https://github.com/automatic-ripping-machine/automatic-ripping-machine">github</a>.
                  {% endblock %}
              </div>
            <!-- <div class="col-sm-4"></div> -->
        </div>
    </div>
    {% block js %}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>