<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" href="static/img/favicon.png">
    <script type="application/javascript">
	function activeTab(tab){
		$( "#nav"+tab ).addClass("active");
	}
  </script>
  <style>
      .custom-control-input:checked~.custom-control-label::before {
        color: #ced4da;
        border-color: #e8e8e8;
        background-color: #007bff;
      }
	  div.custom-switch .custom-control-label{
		color: #ced4da!important;
	  }
  </style>
	<title>{% block title %}{% endblock %} - ARM</title>
    {%  block head_extra %}{% endblock %}
    {% endblock %}
  </head>
  <body style="padding-top: 70px; padding-bottom: 50;padding-left: 15px;padding-right: 15px;">
    {% block nav %}
    <div class="container h-100 mx-auto">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-center fixed-top my-auto">
        <a class="navbar-brand" href="index.html">
            <img src="static/img/arm40nw.png" width="114" height="40" alt="">
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li id="navhome" class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li id="navhistory" class="nav-item">
                  <a class="nav-link" href="history">History</a>
              </li>
              <li id="navviewlogs" class="nav-item">
                <a class="nav-link" href="listlogs">View Logs</a>
              </li>
			  <li id="navdatabase" class="nav-item">
                <a class="nav-link" href="database">Database</a>
              </li>
              <li id="navarmsettings" class="nav-item">
                <a class="nav-link" href="settings"> Arm Settings</a>
              </li>
              <li id="navui_settings" class="nav-item">
                <a class="nav-link" href="ui_settings"> Arm Ui Settings</a>
              </li>
			  <li id="navsendmovies" class="nav-item">
                <a class="nav-link" href="send_movies"> Send DVD's to API</a>
              </li>
            </ul>
          </div>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="darkSwitch" />
  <label class="custom-control-label align-left" for="darkSwitch">Dark Mode</label>
</div>
<script src="static/js/dark-mode-switch.min.js"></script>
<link rel="stylesheet" href="static/css/dark-mode.css">

      </nav>
      </div>
    {% endblock %}
    <div id="content" class="h-100" style="width: 99%;padding-top: 51px;padding-left: 15px;">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div id="message1" class="alert alert-{{ category if category !="message" else 'info' }}" role="alert">
					<h4 class="alert-heading">{{ message }}</h4>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}</div>
    <div id="footer" class="container-fluid h-100">
        <div class="row" style="height: 30px;"></div>
        <div class="row h-100" style="height: 40px;">
            <!-- <div class="col-sm-4"></div> -->
              <div class="col-sm-12 h-100">
                  {% block footer %}
                  <p class="text-center h-100" style="margin-bottom: auto; margin-top: auto"> Automatic Ripping Machine.  Find us on <a href="https://github.com/automatic-ripping-machine/automatic-ripping-machine">github</a>.
                  {% endblock %}
              </div>
            <!-- <div class="col-sm-4"></div> -->
        </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>