{% extends "base.html" %}
{% block title %}Customize Title{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}  
<div class="container">
    <div class="row h-100 mx-auto align-items-center">
            <div class="col-sm-4 mx-auto"></div>
                <div class="col-sm-4 mx-auto">
			<p>This for was inteneded for DVD's that have more than one disk</p>
			<p>This for was inteneded or for TV Serie's that have more than one disk</p>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            <strong>{{ form.title.label }}</strong><br>
                            {{ form.title(size=32) }}
                        </p>
                        <p>
                            <strong>{{ form.year.label }}</strong><br>
                            {{ form.year(size=4) }}
                        </p>
                        <p>{{ form.submit() }}</p>
			{% if form.errors %}
			<span style="color: red;">{{ form.errors }}</span>
			{% endif %}
                    </form>        
                </div>
            <div class="col-sm-4 mx-auto"></div>
    </div>
</div>



{% endblock %}
