{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
<style>
    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
            /*padding: .75rem;*/
        }

        caption {
            width: 100%;
            text-align: center;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
            margin-top: 5px;
            border-radius: 7px;
        }

        th {
            border-bottom: 1px solid #c5c6c8;
        }

        td {
            white-space: normal !important;
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            padding-top: 3px;
        }

        td:before {
            /* Now like a table header */
            /* Top/left values mimic padding */
            top: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: pre;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before {
            content: "Job Start datetime:\A";
        }

        td:nth-of-type(2):before {
            content: "Duration:";
        }

        td:nth-of-type(2):after {
            content: " (h:mm:ss)";
        }

        td:nth-of-type(3):before {
            content: "Status:";
        }

        td:nth-of-type(4):before {
            content: "Logfile:\A";
        }
    }
</style>
<div class="container content">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-12  rounded text-center">
                            <img src="static/img/arm80.png" alt=""><br/>
                            <strong>Welcome to your Automatic Ripping Machine<br></strong>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <p class="text-left mt-3 d-block">Showing page {{ pages.page }} of {{ pages.pages }}</p>
                        </div>
                        <!-- Pagination Links-->
                        <div class="col text-right">
                                <a href="{{ url_for('history', page=pages.prev_num) }}" class="btn btn-outline-dark {% if pages.page == 1 %}disabled{% endif %}">&laquo;</a>
                                <!-- Loop through the number of pages to display a link for each-->
                                {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                    {% if page_num %}
                                        <!-- Check for the active page and set the link to "Active"-->
                                        {% if pages.page == page_num %}
                                            <a href="{{ url_for('history', page=page_num) }}" class="btn btn-dark">{{ page_num }}</a>
                                        {% else %}
                                            <a href="{{ url_for('history', page=page_num) }}" class="btn btn-outline-dark">{{ page_num }}</a>
                                        {% endif %}
                                    {% else %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                                <a href="{{ url_for('history', page=pages.next_num) }}" class="btn btn-outline-dark {% if pages.page == pages.pages %}disabled{% endif %}">&raquo;</a>
                            </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <caption>Previous rips</caption>
                            <thead class="tablesorterhead thead-dark">
                            <tr style="margin: 0 auto">
                                <th scope="col" style="cursor: pointer;">Title</th>
                                <th scope="col" style="cursor: pointer;">Start Time</th>
                                <th scope="col" style="cursor: pointer;">Duration</th>
                                <th scope="col" style="cursor: pointer;">Status</th>
                                <th scope="col" style="cursor: pointer;">Logfile</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                            <tr>
                                <th scope="row" class="text-wrap"><a href="jobdetail?job_id={{ job.job_id }}">{{
                                    job.title|truncate(50, True) if job.title is not none else 'Title unknown' }}</a>
                                </th>
                                <td>{{ job.start_time.strftime(date_format) if job.start_time is not none }}</td>
                                <td>{{ job.job_length }}</td>
                                <td class="{{ job.status }}"><img src="static/img/{{ job.status }}.png" height="30px"
                                                                  width="30px" alt="{{ job.status }}"
                                                                  title="{{ job.status }}"></td>
                                <td><a href="logs?logfile={{ job.logfile }}&mode=full">{{ job.logfile|truncate(50, True)
                                    if job.logfile is not none else 'Unknown logfile' }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}{{ super() }}{% endblock %}
    {% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            // call the tablesorter plugin
            $("table").tablesorter({
                // sort on the first column and third column, order asc
                sortList: [[1, 1]]
            });
        });
        activeTab("history");
    </script>

    {% endblock %}
