{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
    <style>
        .progress-bar {
            color: #020202ba !important;
        }
    </style>
    <div class="container-fluid h-100 mx-auto">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Abandon this job ??</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><span class="ui-icon ui-icon-alert" style="margin:12px 12px 20px 0;"></span>
                            <span id="m-body">This job will be abandoned. Are you sure?</span></p>
                    </div>
                    <div class="modal-footer">
                        <button id="save-no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button id="save-yes" type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 rounded text-center">
                <img src="static/img/arm80.png" alt="Automatic Ripping Machine">
                <p class="text-center">
                <h2>Welcome to your Automatic Ripping Machine</h2>
                </p>
            </div>
        </div>

        <div class="row h-100 mx-auto align-items-center">
            <div class="col-sm-12 mx-auto">
                <p class="text-center">
                <h5 class="text-center"><strong>Active Rips</strong></h5>
                </p>
            </div>
        </div>
        <div class="row h-100 align-items-center">
            <div class="col-md-12 mx-auto">
                <div id="joblist" class="card-deck"></div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row h-100 mx-auto align-items-center">
        <div class="col-sm-4 mx-auto"></div>
        <div class="col-sm-4 text-center mx-auto">
            <div class="card mx-auto">
                <div class="card-header">
                    <strong>Server Specs</strong>
                </div>
                <ul class="list-group list-group-flush">
                    {% if mfreegb != freegb %}
                        <li class="list-group-item">Free Space
                            <br>ARM: {{ freegb }} GB
                            <br>Media: {{ mfreegb }} GB
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <h6 class="progress-label" style="float: left;margin-right: 1em;">Storage Used: </h6>
                            <div class="progress">
                                <div class="progress-bar{{ ' bg-danger' if arm_percent > 80 }}" role="progressbar"
                                     style="width: {{ arm_percent }}%;" aria-valuenow="{{ arm_percent }}"
                                     aria-valuemin="0" aria-valuemax="100">{{ arm_percent }}%
                                </div>
                            </div>
                            <br>
                            <p>Free Space: {{ freegb }} GB</p>
                        </li>
                    {% endif %}

                    <li class="list-group-item">CPU: {{ cpu }}
                        {% if cputemp is not none %}
                            <br>
                            <p class="{{ ' bg-danger text-white' if cputemp > 70 }}">CPU Temp: {{ cputemp }}&#176;C</p>
                        {% endif %}
                        <h6 class="progress-label" style="float: left;margin-right: 1em;">CPU Usage: </h6>
                        <div class="progress">
                            <div class="progress-bar{{ ' bg-danger' if cpu_usage > 80 }}" role="progressbar"
                                 style="width: {{ ' 10' if cpu_usage < 10 else cpu_usage }}%;"
                                 aria-valuenow="{{ cpu_usage }}" aria-valuemin="10" aria-valuemax="100">{{ cpu_usage }}%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="progress-label" style="float: left;margin-right: 1em;">RAM Usage: </h6>
                        <div class="progress">
                            <div class="progress-bar{{ ' bg-danger' if ram_percent > 80 }}" role="progressbar"
                                 style="width: {{ ram_percent }}%;" aria-valuenow="{{ ram_percent }}" aria-valuemin="0"
                                 aria-valuemax="100">{{ ram_percent }}%
                            </div>
                        </div>
                        <br>{{ ram }} GB total
                        <br> {{ ramfree }} GB free
                        <br> {{ ramused }} GB Used
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 mx-auto"></div>
    </div>
    </div>
    <script type="application/javascript" src="static/js/jobRefresh.js"></script>

{% endblock %}
{% block js %}{{ super() }}{% endblock %}
