{% extends "base.html" %}
{% block title %}ARM{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
<h4>Loading log: {{ file }}...</h4>
<div id="container">

    <div id="log">
        <pre id="{{ file }}" ></pre>
    </div>
</div>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}
{{ super() }}
<script>
    var output = document.getElementById('{{ file }}');

    var xhr = new XMLHttpRequest();
    {% if mode == 'tail' or mode == 'full' %}
    xhr.open('GET', '/logreader?logfile={{ file }}&mode=full');
    {% else %}
    xhr.open('GET', '/logreader?logfile={{ file }}&mode={{ mode }}');
    {% endif %}
    xhr.open
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
        {% if mode == 'tail' %}
        window.scrollTo(0,document.body.scrollHeight);
        {% endif %}
    }, 1000);

    // window.setInterval(function() {
    //     var elem = document.getElementById('log');
    //     elem.scrollTop = elem.scrollHeight;
    // })

</script>
{% endblock %}

