{% extends "base.html" %}
{% block title %}Database{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}

<div class="container-fluid h-100 mx-auto">
    <div class="row">
        <div class="col-sm-12  rounded text-center">
            <img src="static/img/arm80.png">
			<p class="text-center">
				<b>Welcome to your Automatic Ripping Machine<br></b>
			</p>
        </div>
    </div>

    <div class="jumbotron alert-danger mb-5">
	<div class="row h-100 mx-auto align-items-center">
        <div class="col-sm-12 mx-auto">
            <p class="text-center">
            <h5 class="text-center"><b>These movies failed to send to the ARM API</b></h5>
            </p>
        </div>							
    </div>
	<div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card-deck">
			{% for k, job in failed.items() %}		
                <div class="col-md-3" id="jobId{{ job.job_id }}">
                    <div class="card mb-3  mx-auto">
                        <div class="card-header row no-gutters justify-content-center">
								<strong>
									{{ job["title"] }} {{ '('+job['year']+')' if job["year"] is not none }}	
								</strong>
							</div>
						<div class="row no-gutters">
                            <div class="col-lg-4">
                                {% if not job.poster_url %}
                                <a href="jobdetail?job_id={{ job.job_id }}">
									<img src="static/img/none.png" width="240px" class="img-thumbnail">
								</a>
                                {% else %}
                                <a href="jobdetail?job_id={{ job.job_id }}">
									<img src="{{ job.poster_url }}" width="240px" class="img-thumbnail">
								</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-4">
                                <div class="card-body px-1 py-1">
									<b>crc64: </b>{{job['crc_id']}}<br>
									<b>Title: </b>"{{ job["title"] }}"<br>
                                    <b>Type: </b> {{ job['video_type'] }} <br>
                                    <b>Year: </b>({{ job["year"] }})<br>
									<b>imdb: </b>{{ job["imdb_id"] }}<br>
									<b>tmdb: </b>{{ job["tmdb_id"] }}<br>
                                    <b>Reason: </b>{{job['Error']}}<br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>	
			{% endfor %}
            </div>
        </div>
    </div>
	</div>
    <div class="jumbotron alert-success mb-5">
	<div class="row h-100 mx-auto align-items-center">
        <div class="col-sm-12 mx-auto">
            <p class="text-center">
            <h5 class="text-center"><b>These movies were to send to the ARM API</b></h5>
            </p>
        </div>							
    </div>
	<div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card-deck">
			{% for k, job in sent.items() %}		
                <div class="col-md-3" id="jobId{{ job.job_id }}">
                    <div class="card mb-3  mx-auto">
                        <div class="card-header row no-gutters justify-content-center">
								<strong>
									{{ job["title"] }} {{ '('+job['year']+')' if job["year"] is not none }}	
								</strong>
							</div>
						<div class="row no-gutters">
                            <div class="col-lg-4">
                                {% if not job.poster_url %}
                                <a href="jobdetail?job_id={{ job.job_id }}">
									<img src="static/img/none.png" width="240px" class="img-thumbnail">
								</a>
                                {% else %}
                                <a href="jobdetail?job_id={{ job.job_id }}">
									<img src="{{ job.poster_url }}" width="240px" class="img-thumbnail">
								</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-4">
                                <div class="card-body px-1 py-1">
									<b>crc64: </b>{{job['crc_id']}}<br>
									<b>Title: </b>"{{ job["title"] }}"<br>
                                    <b>Type: </b> {{ job['video_type'] }} <br>
                                    <b>Year: </b>({{ job["year"] }})<br>
									<b>imdb: </b>{{ job["imdb_id"] }}<br>
									<b>tmdb: </b>{{ job["tmdb_id"] }}<br>
                                    <b>Status: </b><img id="status{{ job.job_id }}" src="static/img/fail.png" height="20px" alt="{{ job.status }}" title="{{ job.status }}"><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>	
			{% endfor %}
            </div>
        </div>
    </div>
	</div>
</div>

{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}
{{ super() }}
{% endblock %}
