{% extends "base.html" %}
{% block title %}Send Movies/Series{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}

<div class="container-fluid h-100 mx-auto">
    <div class="row">
        <div class="col-sm-12  rounded text-center">
            <img src="static/img/arm80.png" alt="Automatic Ripping Machine">
            <p class="text-center">
                <strong>Welcome to your Automatic Ripping Machine<br></strong>
            </p>
        </div>
    </div>

    <div class="jumbotron mb-5">
        <div class="row h-100 mx-auto align-items-center">
            <div class="col-sm-12 mx-auto">
                <p class="text-center">
                <h5 class="text-center"><strong>These are the movies we tried to send to the ARM API</strong></h5>
                </p>
            </div>
        </div>
        <div class="row">
            <!-- ADD SPINNER HERE WHEN LOOPING-->
            <div class="col-md-12 mx-auto">
                <div class="card-deck">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="static/js/common.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
    console.log( "ready!" );
    const jobItems = {{ full|safe }};
    $.each(jobItems, function (index, job) {
        console.log(index + ": " + job.title);
        var jqxhr = $.get("/json",{mode: "send_item", job: job.job_id}, function (data) {
            console.log(data);
            $( ".card-deck" ).prepend( addJobItem(data) );
            if(data.error !== ""){
                $(`#jobId${job.job_id}`).addClass("alert-danger")
                $(`#jobId${job.job_id}_progress_section`).append("<strong>Failure Reason: </strong>" + data.error)
            }
            else{
                $(`#jobId${job.job_id}`).addClass("alert-success")
            }
        })
            .fail(function () {
                console.log("error");
            })
    });
    activeTab("navsendmovies");
});
</script>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}
{{ super() }}
{% endblock %}
