{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
  <p class="text-center">
      <h5 class="text-center"><strong>System Information</strong></h5>
  </p>

  <div class="container content">
    <div class="row">
      <div class="col pt-3">
        <div class="card mx-auto">
            <div class="card-header text-center">
                <strong>Processor</strong>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  CPU: {{ server.cpu_name }}
              </li>
              <li class="list-group-item">
                  {% if server.cpu_temp is not none %}
                      <section class="{{ ' bg-danger text-white' if server.cpu_temp > 70 }}">CPU Temp: {{ server.cpu_temp }}&#176;C</section>
                  {% else %}
                    <section> Temp: not reported </section>
                  {% endif %}
              </li>
              <li class="list-group-item">
                  <h6 class="progress-label" style="float: left;margin-right: 1em;">Usage: </h6>
                  <div class="progress">
                      <div class="progress-bar{{ ' bg-danger' if server.cpu_util > 80 }}" role="progressbar"
                           style="width: {{ ' 10' if server.cpu_util < 10 else server.cpu_util }}%;"
                           aria-valuenow="{{ server.cpu_util }}" aria-valuemin="10" aria-valuemax="100">{{ server.cpu_util }}%
                      </div>
                  </div>
              </li>
            </ul>
        </div>
      </div>
      <div class="col pt-3">
        <div class="card mx-auto">
            <div class="card-header text-center">
                <strong>System Memory</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Total: {{ server.memory_total }} GB
                  <br>Free:  {{ server.memory_free }} GB
                  <br>Used:  {{ server.memory_used }} GB
                </li>
                <li class="list-group-item">
                    <h6 class="progress-label" style="float: left;margin-right: 1em;">Usage: </h6>
                    <div class="progress">
                      <div class="progress-bar{{ ' bg-danger' if server.memory_percent > 80 }}" role="progressbar"
                           style="width: {{ server.memory_percent }}%;" aria-valuenow="{{ server.memory_percent }}" aria-valuemin="0"
                           aria-valuemax="100">{{ server.memory_percent }}%
                      </div>
                    </div>
                  </li>
            </ul>
        </div>
      </div>
      <div class="col pt-3">
        <div class="card mx-auto">
            <div class="card-header text-center">
                <strong>Storage</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% if server.storage_transcode_free != 0 %}
                    <h6 class="progress-label" style="float: left;margin-right: 1em;">Transcode: </h6>
                    <div class="progress">
                        <div class="progress-bar{{ ' bg-danger' if server.storage_transcode_percent > 80 }}" role="progressbar"
                             style="width: {{ server.storage_transcode_percent }}%;" aria-valuenow="{{ server.storage_transcode_percent }}"
                             aria-valuemin="0" aria-valuemax="100">{{ server.storage_transcode_percent }}%
                        </div>
                    </div>
                    <br> Free Space: {{ server.storage_completed_free }} GB
                    {% else %}
                    Transcode: Unable to get data on path
                    {% endif %}
                    <br>Path: {{ arm_path }}
                </li>
                <li class="list-group-item">
                    {% if server.storage_completed_free != 0 %}
                    <h6 class="progress-label" style="float: left;margin-right: 1em;">Completed: </h6>
                    <div class="progress">
                        <div class="progress-bar{{ ' bg-danger' if server.storage_completed_percent > 80 }}" role="progressbar"
                             style="width: {{ server.storage_completed_percent }}%;" aria-valuenow="{{ server.storage_completed_percent }}"
                             aria-valuemin="0" aria-valuemax="100">{{ server.storage_completed_percent }}%
                        </div>
                    </div>
                    <br> Free Space: {{ server.storage_completed_free }} GB
                    {% else %}
                    Transcode: Unable to get data on path
                    {% endif %}
                    <br>Path: {{ media_path }}
                </li>
              </ul>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col pt-3">
            <div class="card mx-auto">
                <div class="card-header text-center">
                    <strong>Disk Drives</strong>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Name: {{ drive_name }}
                    <br>Type: {{ drive_type }}
                    <br>Mount: {{ drive_mount }}
                    <br>Status: {{ drive_status }}
                    <br>Job: {{ drive_job }}
                  </li>
                </ul>
            </div>
        </div>
    </div>
  </div>


{% endblock %}
{% block js %}{{ super() }}{% endblock %}
