{% extends "base.html" %}
{% block title %}Logs{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}  
<div class="container">
    <div class="row h-100 mx-auto align-items-center">
            <div class="col-sm-4 mx-auto"></div>
                <div class="col-sm-4 mx-auto">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            <strong>{{ form.title.label }}</strong><br>
                            {{ form.title(size=32) }}
                        </p>
                        <p>
                            <strong>{{ form.year.label }}</strong><br>
                            {{ form.year(size=4) }}
                        </p>
                        <p>{{ form.submit() }}</p>
                    </form>        
                </div>
            <div class="col-sm-4 mx-auto"></div>
    </div>
</div>



{% endblock %}