[Unit]
Description=Automatic Ripping Machine

[Service]
Type=oneshot
User=arm
Group=arm
WorkingDirectory=/home/arm
ExecStart=/opt/arm/arm/main.py -d %i
SyslogIdentifier=arm

[Install]
WantedBy=multi-user.target
