# ARM (Automatic Ripping Machine) config file

#################
## ARM Options ##
#################

# Distinguish UDF video discs from UDF data discs.  Requires mounting disc so adds a few seconds to the identify script.
ARM_CHECK_UDF: true

# When enabled if the disc is a DVD use dvdid to calculate a crc64 and query Windows Media Meta Services for the Movie Title.
# For BluRays attempts to extract the title from an XML file on the disc
GET_VIDEO_TITLE: true

# Skip transcoding if you want the original MakeMKV files as your final output
# This will produce the highest quality videos (and use the most storage)
# Note: RIPMETHOD must be set to "mkv" for this feature to work
# Note: The largest file will be considered to be the "main feature" but there are cases when this is not true
# to avoid losing a desired track, use this feature with an EXTRAS_SUB value that is not "None"
SKIP_TRANSCODE: false

# Video type identification.  Options are "auto", "series", "movie".
# If "auto" then ARM will get the video type when quering the movie webservice.  This is default.
# If the disc is not clearly a movie or series, or if ARM is having difficulty getting the right video type
# you can override the automatic identification with "series" or "movie"
VIDEOTYPE: "auto"

# Minimum length of track for ARM rip (in seconds)
MINLENGTH: "600"

# Maximum length of track for ARM rip (in seconds)
# Use "99999" to indicate no maximum length
MAXLENGTH: "99999"

# Wait for manual identification
MANUAL_WAIT: true

# Wait tie for manual identification (in seconds)
MANUAL_WAIT_TIME: 60

## Do you want to allow Rips of the same disk multiple times
## With this set as false the task will exit if it recongnises the same movie being ripped
## recommended to set to false for series 
ALLOW_DUPLICATES: false

# Number of Transcodes that runs at the same time.
# Certain Video cards are limited to how many encodes they can run at the same time.
# Also useful for deminishing returns on CPU based encodes.
MAX_CONCURRENT_TRANSCODES: 3

# Additional parameters for dd. e.g. "conv=noerror,sync" for ignoring read errors
DATA_RIP_PARAMETERS: ""

#####################
## Directory setup ##
#####################

# Final directory of transcoded files
# Ripped and transcoded files end up here
ARMPATH: "/home/arm/media/completed/"

# Path to raw MakeMKV directory
# Destination for MakeMKV and source for HandBrake
RAWPATH: "/home/arm/media/raw/"

# Path to final media directory
# Destination for final file.  Only used for movies that are positively identified
MEDIA_DIR: "/home/arm/media/movies/"

# Movie subdirectory name for "extras"
# Valid names are dependent on your media server
# For Emby see https://github.com/MediaBrowser/Wiki/wiki/Movie%20naming#user-content-movie-extras
# For Plex see https://support.plex.tv/hc/en-us/articles/200220677
EXTRAS_SUB: "extras"

# Path to installation of ARM 
INSTALLPATH: "/opt/arm/"

# Path to directory to hold log files
# Make sure to include trailing /
LOGPATH: "/home/arm/logs/"

# Log level.  DEBUG, INFO, WARNING, ERROR, CRITICAL
# The default is INFO
LOGLEVEL: "INFO"

# How long to let log files live before deleting (in days)
LOGLIFE: 1

# Path to ARM database file
DBFILE: "/home/arm/db/arm.db"

##################
##  Web Server  ##
##################

# IP address of web server (this machine)
# Use x.x.x.x to autodetect the IP address to use
WEBSERVER_IP: x.x.x.x

# Port for web server
WEBSERVER_PORT: 8080

########################
##  File Permissions  ##
########################

# Enabling this seting will allow you to adjust the default file permissions of the outputted files
# The default value is set to 777 for read/write/execute for all users, but can be changed below using the "CHMOD_VALUE" setting
# This setting is helpful when storing the data locally on the system
SET_MEDIA_PERMISSIONS: false
CHMOD_VALUE: 777
SET_MEDIA_OWNER: false
CHOWN_USER: 
CHOWN_GROUP: 

########################
## MakeMKV Parameters ##
########################

# Method of MakeMKV to use for Blu Ray discs.  Options are "mkv" or "backup".
# backup decrypts the dvd and then copies it to the hard drive.  This allows HandBrake to apply some of it's
# analytical abilities such as the main-feature identification.  This method seems to offer success on bluray 
# discs that fail in "mkv" mode. *** NOTE: MakeMKV only supports the backup method on BluRay discs.  ARM does
# not use MakeMKV for DVDs.   
RIPMETHOD: "backup" 

# MakeMKV Arguments
# MakeMKV Profile used for controlling Audio Track Selection.
# This is the default profile MakeMKV uses for Audio track selection. Updating this file or changing it is considered
# to be advanced usage of MakeMKV. But this will allow users to alternatively tell makemkv to select HD audio tracks and etc.
# MKV_ARGS: "--profile=/opt/arm/default.mmcp.xml"
MKV_ARGS: ""

# Remove the files created by MakeMKV after processing is complete
DELRAWFILES: true

# Automatically download hashed_keys.  This is for UHD ripping only.  You mush have a UHD friendly drive for this to work.
# Check out this post: https://www.makemkv.com/forum2/viewtopic.php?f=12&t=16883&sid=93f1db30f6ceb99b494f3f37cd723841 before 
# changing this to True 
HASHEDKEYS: False

##########################
## HandBrake Parameters ##
##########################

# Handbrake preset profile for DVDs
# Execute "HandBrakeCLI -z" to see a list of all presets
HB_PRESET_DVD: "HQ 720p30 Surround" 

# Handbrake preset profile for Blurays
# Execute "HandBrakeCLI -z" to see a list of all presets
HB_PRESET_BD: "HQ 1080p30 Surround" 

# Extension of the final video file
DEST_EXT: mkv

# Handbrake binary to call
HANDBRAKE_CLI: HandBrakeCLI

# Have HandBrake transcode the main feature only.  BluRay discs must have RIPMETHOD="backup" for this to work.
# If MAINFEATURE is true, blurays will be backed up to the HD and then HandBrake will go to work on the backed up
# files.  
# This will require libdvdcss2 be installed.
# NOTE: For the most part, HandBrake correctly identifies the main feature on movie DVD's, although it is not perfect. 
# However, it does not handle tv shows well at all.  This setting is only used when the video is identified as a movie.
MAINFEATURE: false

# Additional HandBrake arguments for DVDs.  
HB_ARGS_DVD: "--subtitle scan -F"

# Additional Handbrake arguments for Bluray Discs.
HB_ARGS_BD: "--subtitle scan -F --subtitle-burned --audio-lang-list eng --all-audio"

#####################
## Emby Parameters ##
#####################

# Parameters to enable automatic library scan in Emby.  This will trigger only if MainFeature is true above.

# Scan emby library after succesful placement of mainfeature (see above)
EMBY_REFRESH: false

# Server parameters
# Server can be ip address or domain name
EMBY_SERVER: ""
EMBY_PORT: "8096"

# Emby authentication fluff parameters.  These can be anything.
EMBY_CLIENT: "ARM"
EMBY_DEVICE: "ARM"
EMBY_DEVICEID: "ARM"

# Emby authentication parameters.  These are parameters that must be set to a current user in Emby.
EMBY_USERNAME: ""

# EMBY_USERID is the user ID associated with the username above.  You can find this by going to the following address on your emby server
# <server>:<port>/Users/Public and getting the ID value for the username above.
EMBY_USERID: ""

# This is the SHA1 encrypted password for the username above.  You can generate the SHA1 hash of your password by executing the following at
# the command line: 
# echo -n your-password | sha1sum | awk '{print $1}'
# or using an online generator like the one located at http://www.sha1-online.com/
EMBY_PASSWORD: ""

# Emby API key.  This can be found (generated) by going to Advanced/Security in the 
# Emby dashboard
EMBY_API_KEY: ""

#############################
## Notification Parameters ##
#############################

# Notify after Rip?
NOTIFY_RIP: true

# Notify after transcode?
NOTIFY_TRANSCODE: true

# Pushbullet API Key
# Leave empty to disable Pushbullet notifications
PB_KEY: ""

# IFTTT API KEY
# Leave empty to disable IFTTT notifications
IFTTT_KEY: ""

# IFTTT Event Name
IFTTT_EVENT: "arm_event"

# Pushover API User and Application Key
# Leave User key empty to disable Pushover notifications
PO_USER_KEY: ""
PO_APP_KEY: ""

# OMDB_API_KEY
# omdbapi.com API Key
# See README-OMDBAPI for background and info
# This is the API key for omdbapi.com queries.
# More info at http://omdbapi.com/
OMDB_API_KEY: ""

#################################################
##            APPRISE NOTIFICATIONS            ##
#################################################
## File location of your apprise.yaml file
APPRISE: ""