/*  General Navigation Bar Styles */
.nav-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.nav-item :hover {
    color: white !important;
}

.nav-link i {
    color: rgba(255, 255, 255, .75);
    padding-right: 10px;
}

.nav-item, .active i {
    color: white !important;
}

 /* NavBar: To Big for Titles, but not collapsed */

@media only screen and (max-width: 1500px) and (min-width: 768px){
    .nav-link span{
        display: none !important;
    }
}

 /* NavBar: Collapsed, but icons are misplaces */
@media only screen and (max-width: 768px){
    .nav-item i {
        padding: .5rem 1rem;
    }
}

 /* NavBar: Custom Control element styling */
.custom-control {
    padding-left: 4em !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #ced4da;
    border-color: #e8e8e8;
    background-color: #007bff;
}

div.custom-switch .custom-control-label {
    color: #ced4da !important;
}

 /* NavBar: Github link */
.github-link a{
    color: white !important;
    padding-left: 15px;
}