name: Greetings

on:
  issues:
    types: [opened]
  pull_request:
    branches: [main]
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'If youre having issues, please remember to read the [wiki](https://github.com/automatic-ripping-machine/automatic-ripping-machine/wiki/FAQ) and follow the instructions carefully'
        pr-message: 'Thanks for submitting a PR, please try to keep PR as small as possible for faster merge times'
