# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the v2.5.0_dev branch
  push:
    branches: [ v2.5.0_dev ]
  pull_request:
    branches: [ v2.5.0_dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  flake8_py3:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Checkout PyTorch
        uses: actions/checkout@master
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'flake8_py3'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1.0.5
        with:
          fail_ci_if_error: false
