name: publish-image

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
    push:
    pull_request:
        branches: [ main, v2_devel, docker ]
            # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

env:
    # Use docker.io for Docker Hub if empty
    REGISTRY: ghcr.io
    # use DOCKERHUB_USERNAME as the name maybe different from the github username
    IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
    TAG: latest

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            -
                name: Checkout repository
                uses: actions/checkout@v2

            -
                name: Get branch name
                id: branch-name
                uses: tj-actions/branch-names@v5.4

            -
                name: Set tag for non-default branch
                if: steps.branch-name.outputs.is_default == 'false'
                run: |
                    echo "Branch name is ${{ env.GITHUB_REF_NAME }}"
                    echo "TAG=${{ env.GITHUB_REF_NAME }}" >> $GITHUB_ENV

            # Workaround: https://github.com/docker/build-push-action/issues/461
            -
                name: Setup Docker buildx
                uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6

            # Login against all registries
            # https://github.com/docker/login-action
            -
                name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -
                name: Login to DockerHub
                if: github.event_name != 'pull_request'
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            # Extract metadata (tags, labels) for Docker
            # https://github.com/docker/metadata-action
            -
                name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            # Build and push Docker image with Buildx
            # https://github.com/docker/build-push-action
            -
                name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@v2
                with:
                    context: .
                    push: ${{ github.event_name != 'pull_request' }}
                    platforms: linux/amd64,linux/arm64,linux/arm/v7
                    tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}
                    labels: ${{ steps.meta.outputs.labels }}

            -
                name: retag and push multiplatform images to multiple registries
                uses: akhilerm/tag-push-action@v2.0.0
                with:
                    src: docker.io/${{ env.IMAGE_NAME }}:${{ env.TAG }}
                    # make sure the github name is correct
                    dst: ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.event.repository.name }}:${{ env.TAG }}
