name: "PR - Test Docker Build"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# This workflow builds a docker image for every pull request, to
# confirm that the changes will still at least build even if the
# OP has not tried it themselves or configured their fork to use
# the included repos

on:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
        - 
            uses: actions/checkout@v3

        -
            name: Setup Docker buildx
            uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c

        # Build Docker image with Buildx
        # https://github.com/docker/build-push-action
        -
            name: Build Docker image
            id: build
            uses: docker/build-push-action@v4
            with:
                push: false
                context: .
                platforms: linux/amd64,linux/arm64,linux/arm/v7
                tags: automatic-ripping-machine:pr${{ github.event.number }}
